<div class="flex flex-col min-h-screen bg-white">
    <app-header></app-header>
    <div class="flex-grow">
        <!-- banner -->
        <div class="text-center py-28 bg-cover bg-no-repeat" style="background-image: url('./assets/img/OurMenu/banner.jpg');">
            <h1 class="text-5xl text-white font-bold pb-8">FAQ Page</h1>  
            <!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com --> 
            <nav class="bg-grey-light w-full rounded-md flex items-center justify-center">
              <ol class="list-reset flex text-xl">
                <li>
                  <a href="#" class="text-white transition duration-150 ease-in-out hover:text-[#FF9F0D]">Home</a>
                </li>
                <li>
                  <span class="mx-2 text-white">></span>
                </li>
                <li class="text-[#FF9F0D]">faq</li>
              </ol>
            </nav>
        </div>
        <div class="w-3/5 m-auto py-28">
            <div class="text-center text-gray">
                <h2 class="text-5xl font-bold pb-3">Questions Looks Here</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the </p>
                <div class="grid grid-cols-2 pt-16 gap-5">
                    <div class="grid grid-rows-3 gap-5">
                        <div class="bg-[#FAF7F2] p-5 text-left">
                            <div class="flex justify-between">
                                <h3 class="pb-5 font-bold">How we serve food?</h3>
                                <p class="text-3xl font-thin">+</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis modi ullam amet debitis libero veritatis enim repellat optio natus eum delectus deserunt, <br> odit expedita eos molestiae ipsa totam quidem?</p>
                        </div>
                        <div class="bg-[#FAF7F2] p-5 text-left">
                            <div class="flex justify-between">
                                <h3 class="pb-5 font-bold">How is our food quality?</h3>
                                <p class="text-3xl font-thin">+</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis modi ullam amet debitis libero veritatis enim repellat optio natus eum delectus deserunt, <br> odit expedita eos molestiae ipsa totam quidem?</p>
                        </div>
                        <div class="bg-[#FAF7F2] p-5 text-left">
                            <div class="flex justify-between">
                                <h3 class="pb-5 font-bold">How do we give home delivery?</h3>
                                <p class="text-3xl font-thin">+</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis modi ullam amet debitis libero veritatis enim repellat optio natus eum delectus deserunt, <br> odit expedita eos molestiae ipsa totam quidem?</p>
                        </div>
                    </div>
                    <div class="grid grid-rows-3 gap-5">
                        <div class="bg-[#FAF7F2] p-5 text-left">
                            <div class="flex justify-between">
                                <h3 class="pb-5 font-bold">How can we get in touch with you?</h3>
                                <p class="text-3xl font-thin">+</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis modi ullam amet debitis libero veritatis enim repellat optio natus eum delectus deserunt, <br> odit expedita eos molestiae ipsa totam quidem?</p>
                        </div>
                        <div class="bg-[#FAF7F2] p-5 text-left">
                            <div class="flex justify-between">
                                <h3 class="pb-5 font-bold">What will be delivered? And When?</h3>
                                <p class="text-3xl font-thin">+</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis modi ullam amet debitis libero veritatis enim repellat optio natus eum delectus deserunt, <br> odit expedita eos molestiae ipsa totam quidem?</p>
                        </div>
                        <div class="bg-[#FAF7F2] p-5 text-left">
                            <div class="flex justify-between">
                                <h3 class="pb-5 font-bold">Is this restaurant 24 hours open?</h3>
                                <p class="text-3xl font-thin">+</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis modi ullam amet debitis libero veritatis enim repellat optio natus eum delectus deserunt, <br> odit expedita eos molestiae ipsa totam quidem?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>  
</div>      